:plain
  var follow_unfollow_button_cols = document.getElementsByClassName("buttons__follow_unfollow-#{@followed_user.id}");
  Array.prototype.forEach.call(follow_unfollow_button_cols, function(col) {
      col.innerHTML =
        "#{j render('mini_blog/follow_unfollow_button', user: @followed_user)}";
    }
  );
